@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 1.6rem;
  border: 2px solid whitesmoke;
  padding: 8px 12px;
  margin-top: 45px;
  margin-left: 7rem;
}
header p {
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: whitesmoke;
}

.hero {
  min-height: 100vh;
  position: relative;
  background: url(/img3.jpg) rgba(0, 0, 0, 0.75);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 150px 0 70px 0;
  padding-left: 7rem;
}
.hero .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero .content .title {
  color: whitesmoke;
  font-size: 4rem;
}
.hero .content .sub-title p {
  font-weight: 400;
  color: whitesmoke;
  font-size: 1.8rem;
  line-height: 45px;
}
.hero .content .sub-title p:last-child {
  color: #0095ff;
}
.hero .content .buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}
.hero .content .buttons button {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #0095ff;
  border: 1px solid #0095ff;
  background: transparent;
  transition: 0.3s;
}
.hero .content .buttons button:hover {
  cursor: pointer;
  background: #0095ff;
  color: whitesmoke;
  transition: 0.3s;
}
@media (max-width: 1050px) {
  .hero {
    padding-left: 2.5rem;
  }
  header {
    margin-left: 2.5rem;
  }
  .hero .content .title {
    font-size: 2.75rem;
  }
  .hero .content .sub-title p {
    font-size: 1.3rem;
    line-height: normal;
    margin-bottom: 5px;
  }
}
@media (max-width: 880px) {
  .hero {
    background-position: center;
  }
  .hero .content .title {
    font-size: 2.45rem;
  }
  .hero .content .sub-title p {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .hero {
    background-position: bottom;
  }
  .hero .content .title {
    font-size: 2.2rem;
  }
  .hero .content .sub-title p {
    font-size: 1rem;
  }
  .hero .content .buttons button {
    font-size: 1rem;
  }
}
@media (max-width: 467px) {
  .hero {
    padding-left: 1rem;
  }
  header {
    margin-left: 1rem;
  }
  .hero .content .buttons {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}



.workout_session {
  min-height: 100vh;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  padding: 60px;
  gap: 75px;
  background: #f9f9f9;
  box-sizing: border-box; /* Ensure padding is included in total width/height */
}

.workout_session .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1; /* Ensure wrapper takes available space */
}

.workout_session .wrapper h1 {
  font-size: 2.2rem;
  color: #111;
}

.workout_session .wrapper p {
  font-size: 1.4rem;
  color: gray;
}

.workout_session .wrapper .bootcamps {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.workout_session .wrapper .bootcamps div {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 10px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.workout_session .wrapper .bootcamps div:hover {
  background: #111;
  transition: 0.3s;
}

.workout_session .wrapper .bootcamps div:hover h4 {
  color: #0095ff;
  transition: 0.3s;
}

.workout_session .wrapper .bootcamps div:hover p {
  color: whitesmoke;
  transition: 0.3s;
}

/* Image container to control image height */
.workout_session .image-container {
  flex: 1; /* Allow the image container to take up remaining space */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.workout_session img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100%; /* Ensure the image does not exceed the height of the container */
}

@media (max-width: 1520px) {
  .workout_session {
    padding: 50px 20px;
    gap: 25px;
  }
}

@media (max-width: 1200px) {
  .workout_session {
    flex-direction: column;
  }

  .workout_session .wrapper h1 {
    font-size: 1.6rem;
  }

  .workout_session .wrapper p {
    font-size: 20px;
  }

  .workout_session .wrapper .bootcamps div h4 {
    font-size: 20px;
  }

  .workout_session .wrapper .bootcamps div p {
    font-size: 20px;
  }
}






.gallery {
  padding: 50px 20px;
  text-align: center;
  background: #f9f9f9;
}

.gallery h1 {
  font-size: 2.5rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns layout by default */
  gap: 10px;
}

.image-container {
  width: 100%;
  padding-top: 100%; /* Maintain aspect ratio */
  position: relative;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 720px) {
  .images {
    grid-template-columns: repeat(2, 1fr); /* Two columns layout on mobile screens */
    grid-template-rows: repeat(4, 1fr); /* Four rows layout */
  }
}






/* Pricing.css */
.pricing {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 100px 40px 50px 40px; /* Updated padding */
}
.pricing h1 {
  font-size: 2.2rem;
  margin: 0 auto;
  letter-spacing: 1px;
}
.pricing .wrapper {
  display: flex;
  gap: 30px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 0;
}
.pricing .wrapper .card {
  flex: 1;
  position: relative;
  height: 700px;
  box-shadow: 1px 3px 12px 2px rgba(0, 0, 0, 0.75);
}
.pricing .wrapper .card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.pricing .wrapper .card .title {
  z-index: 1;
  position: relative;
  height: 250px;
  color: #fff;
  overflow-y: hidden;
  padding: 30px;
}
.pricing .wrapper .card .title h1 {
  font-size: 3rem;
  color: #0095ff;
  position: relative;
  z-index: 5;
}
.pricing .wrapper .card .title h3 {
  font-size: 2.5rem;
  position: relative;
  z-index: 5;
}
.pricing .wrapper .card .title p {
  font-size: 20px;
  position: relative;
  z-index: 5;
  margin-top: 5px;
}
.pricing .wrapper .card .title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.pricing .wrapper .card .title::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: -11px;
  background: whitesmoke;
  transform: skew(0, -2deg);
  left: 0;
}
.pricing .wrapper .card .description {
  background: whitesmoke;
  position: relative;
  z-index: 1;
  flex: 3;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  gap: 20px;
}
.pricing .wrapper .card .description p {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 15px;
}
.pricing .wrapper .card .description p svg {
  color: #0095ff;
}
.pricing .wrapper .card .description .cross-icon {
  color: red; /* Set cross icon color to red */
}
.pricing .wrapper .card .description a {
  background: #0095ff;
  color: #fff;
  font-weight: 500;
  padding: 15px 30px;
  border: none;
  text-decoration: none;
  width: fit-content;
  transition: 0.3s;
}
.pricing .wrapper .card .description a:hover {
  background: #0267af;
}
.pricing .wrapper .card:nth-child(2):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.pricing .wrapper .card:nth-child(2) .description {
  background: transparent;
  position: relative;
  z-index: 1;
  flex: 3;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  gap: 20px;
  color: #fff;
  padding-top: 20px;
}
.pricing .wrapper .card:nth-child(2) .title {
  z-index: 1;
  position: relative;
  height: 220px;
  color: #fff;
  overflow-y: hidden;
}
.pricing .wrapper .card:nth-child(2) .title::after,
.pricing .wrapper .card:nth-child(2) .title::before {
  display: none;
}
@media (max-width: 1800px) {
  .pricing {
    padding: 50px 20px 50px 20px;
  }
  .pricing .wrapper {
    min-width: 100%;
    gap: 25px;
  }
}
@media (max-width: 1222px) {
  .pricing .wrapper .card .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .pricing .wrapper .card .title h1 {
    font-size: 2rem;
    margin: 0;
    overflow: hidden;
  }
  .pricing .wrapper .card .title h3 {
    font-size: 1.6rem;
    overflow: hidden;
  }
  .pricing .wrapper .card .title p {
    overflow: hidden;
  }
  .pricing .wrapper .card:nth-child(2) .title {
    height: 250.67px;
  }
  .pricing .wrapper .card:nth-child(2) .description {
    height: 386px;
  }
}
@media (max-width: 1200px) {
  .pricing h1 {
    font-size: 1.6rem;
  }
}
@media (max-width: 900px) {
  .pricing .wrapper .card:nth-child(2) .description,
  .pricing .wrapper .card .description {
    padding: 10px;
  }
}
@media (max-width: 840px) {
  .pricing .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .pricing .wrapper .card {
    width: 650px;
  }
}
@media (max-width: 690px) {
  .pricing .wrapper .card {
    width: 100%;
  }
}








/* contact form */

.contact {
  min-height: 800px;
  background: url(/contact.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.contact form {
  background: #fff;
  width: 100%;
  max-width: 650px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 20px;
}

.contact form h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.contact form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact form div label {
  font-weight: 600;
  color: #333;
}

.contact form div input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f9f9f9;
  color: #333;
}

.contact form div input:focus {
  outline: none;
  border-color: #0095ff;
  background: #fff;
}

.contact form button {
  border: none;
  color: #fff;
  background: #0095ff;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contact form button:hover {
  background: #0267af;
}

@media (max-width: 1160px) {
  .contact {
    justify-content: center;
    padding: 50px 20px;
    background-position: center;
  }
  
  .contact form {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .contact form {
    padding: 20px;
    gap: 15px;
  }

  .contact form h1 {
    font-size: 1.5rem;
  }

  .contact form div input {
    font-size: 14px;
  }

  .contact form button {
    font-size: 16px;
    padding: 10px;
  }
}



footer {
  padding: 20px;
  background: #111;
  text-align: center;
  font-size: 20px;
  color: #0095ff;
}



.bmi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 100px 20px 50px 20px;
  background: linear-gradient(45deg, #0a2b42, #60698b);
  color: whitesmoke;
}

.bmi h1 {
  font-size: 2.5rem;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.bmi .container {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}

.bmi .container .wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bmi .container .wrapper:first-child {
  max-width: 500px;
}

.bmi .container .wrapper:last-child {
  position: relative;
  max-width: 500px;
}

.bmi .container .wrapper:last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.bmi .container .wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.bmi .container .wrapper form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.bmi .container .wrapper form div label {
  font-weight: 600;
}

.bmi .container .wrapper form div input,
.bmi .container .wrapper form div select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff; /* Text color in input and select */
}

.bmi .container .wrapper form div select {
  color: #111; /* Text color for select options */
}

.bmi .container .wrapper form div option {
  color: #111; /* Text color for select options */
}

.bmi .container .wrapper form div input:focus,
.bmi .container .wrapper form div select:focus {
  outline: none;
  border-color: #0095ff;
  background: rgba(255, 255, 255, 0.3);
}

.bmi .container .wrapper form button {
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #0095ff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bmi .container .wrapper form button:hover {
  background: #007bb5;
}

@media (max-width: 1200px) {
  .bmi .container .wrapper {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 735px) {
  .bmi .container {
    flex-direction: column;
  }

  .bmi .container .wrapper:last-child img {
    height: 100%;
  }
}



/* faq */

.faq {
  padding: 50px 20px;
  background: #f9f9f9;
}

.faq h1 {
  font-size: 2.5rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.faq-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  border-bottom: 1px solid #ddd;
}

.question h3 {
  margin: 0;
  font-size: 1.2rem;
}

.question span {
  font-size: 1.5rem;
}

.answer {
  padding: 15px;
}

.answer p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

@media (max-width: 768px) {
  .faq h1 {
    font-size: 2rem;
  }

  .question h3 {
    font-size: 1rem;
  }

  .answer p {
    font-size: 0.9rem;
  }
}
